@import "../../sass/global.scss";

.popular-people {
    min-height: 90vh;
    max-width: 1250px;
    margin: auto;
    padding: 3rem 1.5rem 1.5rem;

    .popular-people__title {
        margin-bottom: 2rem;
    }

    .popular-people__cards {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: auto auto auto auto auto;
        justify-content: space-between;

        @media (max-width: 1060px) {
            grid-template-columns: auto auto auto auto;
        }

        @media (max-width: $breakpoint-tablet){
            grid-template-columns: auto auto auto;
        }

        @media (max-width: $breakpoint-mobile) {
            grid-template-columns: auto auto;
        }
    
        .popular-people-card {
            width: 184px;

            @media (max-width: 1060px) {
                width: 163px;
            }

            @media (max-width: 600px) {
                width: 135px;
            }

            @media (max-width: $breakpoint-mobile) {
                width: 150px;
            }

            @media (max-width: 350px) {
                width: 130px;
            }

            .popular-people-card__profile-img {
                width: inherit;
            }

            .popular-people-card__text {
                padding: 0.45rem 0.45rem 0.45rem 0rem;

                .popular-people-card__name {
                    color: rgb(226, 226, 226);
                    font-size: 1.15rem;
                }

                .popular-people-card__popularity {
                    color: rgb(175, 175, 175);
                }
            }

            &:hover {
                .popular-people-card__profile-img {
                    opacity: 0.91;
                }

                .popular-people-card__name {
                    color: rgb(203, 203, 203);
                }

                .popular-people-card__popularity {
                    color: rgb(153, 153, 153);
                }
            }
        }
    }
}