@import '../../sass/global.scss';

.header {
    text-align: center;
    margin: 4rem 0rem;

    .header__title {
        font-size: 2.25rem;
        font-family: Tahoma;
        margin-bottom: 0.3rem;
        letter-spacing: 0.02em;
        color: rgb(236, 236, 236);
    }

    .header__hr {
        border: 2px solid $color-brand;
        max-width: 43rem;
        margin: auto;
    }
}