@import './variables.scss';

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.25s;

    &:hover {
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.253);
    }
}

.btn {
    padding: 1rem 2.5rem;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.btn-primary {
    background-color: $color-brand;

    &:hover {
        background-color: $color-brand-dark;
    }
}

.modal-list {
    width: 100vw;
    height: 100vh;
    position: fixed;
    color: white;
    top: 0;
    z-index: 999;

    .modal-list-content {
        background-color: #212121;
        max-width: 380px;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .modal-list-exit {
        width: 100vw;
        height: 100vh;
        background-color: rgba(rgb(0, 0, 0), 0.92);
        position: fixed;
        z-index: -1;
        top: 0;
    }
}