$color-primary: #0a1118;
$color-primary-light: #152238;

$color-brand: #0fbe58;
$color-brand-dark: #13b154;
$color-brand-darker: #1a5c34;
$color-brand-light: #2cf17e;

$color-header: #060c0c;

$color-blue: #5294db;
$color-blue-dark: #356fad;
$color-blue-darker: #2a5686;
$color-blue-light: #5da9fa;

$color-red: #ca0446;
$color-red-light: #e90d56;
$color-red-dark: #a8043b;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 500px;

$footer-height-desktop: 375px;
$footer-height-tablet: 400px;
$footer-height-mobile: 1000px;
