$color-primary: #0a1118;
$color-primary-light: #152238;

$color-brand: #0fbe58;
$color-brand-dark: #13b154;
$color-brand-darker: #175731;
$color-brand-light: #2cf17e;

$color-header: #060c0c;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 500px;

$footer-height-desktop: 375px;
$footer-height-tablet: 400px;
$footer-height-mobile: 1000px;