$color-primary: #0a1118;
$color-primary-light: #152238;

$color-brand: #00d95a;
$color-brand-dark: #00c050;
$color-brand-darker: #24a324;
$color-brand-light: #13ff75;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 500px;

$footer-height-desktop: 375px;
$footer-height-tablet: 400px;
$footer-height-mobile: 1000px;