@import "../../sass/global.scss";

.recommended-movies {
    max-width: 1500px;
    margin: auto;
    padding: 7rem 2rem 2rem;

    @media (max-width: $breakpoint-mobile) {
        padding: 7rem 1rem 2rem;
    }

    .recommended-movies__hr {
        margin: 1rem auto 5rem;
        border: 2px solid $color-primary-light;
        border-radius: 10px;
        max-width: 560px;
    }

    .recommended-movies__title {
        font-family: Tahoma, sans-serif;
        font-size: 2.3rem;
        text-align: center;

        @media (max-width: 600px) {
           font-size: 2rem;
        }
    }

    .recommended-movies__movies {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(175px, 1fr));
        grid-gap: 1.75rem;

        @media (max-width: 870px) {
            grid-template-columns: repeat( auto-fit, minmax(150px, 1fr));
        }

        @media (max-width: 600px) {
            grid-template-columns: repeat( auto-fit, minmax(127px, 1fr));
        }

        @media (max-width: $breakpoint-mobile) {
            grid-template-columns: repeat( auto-fit, minmax(114px, 1fr));
            grid-gap: .75rem;
        }

        @media (max-width: 380px) {
            grid-template-columns: repeat( auto-fit, minmax(94px, 1fr));
        }

        .movie {
            margin-right: 1.6rem;
            position: relative;
            transition: all 1s;
            width: 175px;
            height: 345px;

            @media (max-width: 870px) {
                width: 150px;
                height: 330px;
            }

            @media (max-width: 600px) {
                width: 127px;
                height: 268px;
            }

            @media (max-width: $breakpoint-mobile) {
                width: 114px;
                height: 264px;
            }

            @media (max-width: 380px) {
                width: 98px;
                height: 235px;
            }

            .movie__poster {
                width: inherit;
                border-radius: 6px;
                opacity: 1;
        
                &:hover {
                    opacity: 0.85;
                }
            }
        
            .movie__title {
                color: rgb(195, 195, 195);
                padding: 0.3rem 0rem;
                font-weight: lighter;
                font-size: 0.9rem;
                
                &:hover {
                    color: $color-brand-dark;
                }
            }
        
            .movie__release-date {
                color: rgb(97, 97, 97);
                font-size: 0.85rem;
            }
        
            .movie__rating-container {
                background-color: $color-brand-dark;
                border-radius: 3px;
                width: 35px;
                position: absolute;
                top: 5px;
                left: -5px;
        
                .movie__rating {
                    margin: auto;
                    width: fit-content;
                    color: white;
                    padding-top: 4px;
                    padding-bottom: 2px;
                    font-family: Helvetica, sans-serif;
                    font-size: 0.9rem;
                }
            }
        }
        
    }
}
