@import '../../sass/global.scss';

$hover-color: $color-brand-dark;

#header {
    color: rgb(209, 209, 209);
    background-color: $color-header;
    padding: 1.25rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    @media (max-width: 1180px) {
        flex-direction: column;
    }

    @media (max-width: $breakpoint-mobile){
        padding: 1.25rem 0rem;
    }

    .nav-hover {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: .25rem !important;

        .nav-hover__elements {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 24px;
            left: -13px;
            background-color: $color-primary-light;
            border-radius: 8px;
            z-index: 999;

            li {
                padding: .7rem .35rem .7rem .25rem;
                width: 170px; 
                height: 41px;
                text-overflow: ellipsis;
                overflow: hidden; 
                white-space: nowrap;
            }

            .watchlist {
                color: rgb(235, 235, 235);
            }
        }


        &:hover {
            .nav-hover__elements {
                display: flex;
            }
        }
    }

    .nav-hover__elements--lists {
        @media (max-width: 470px) {
            width: 180px;
            overflow: hidden;
            font-size: 0.91rem;
            padding: .7rem .35rem .7rem .6rem !important;
            left: -20px !important;

            li {
                width: 170px !important;
            }
        }

        @media (max-width: 380px) {
            width: 160px;
            overflow: hidden;
            font-size: 0.91rem;
            padding: .7rem .35rem .7rem .6rem !important;
            left: -20px !important;

            li {
                width: 155px !important;
            }
        }
    }

    .links {
        &:hover{
            color: white;
        }
    }

    .first-nav-wrapper {
        display: flex;
        align-items: center;
        
        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
            margin-bottom: 0.5rem;
        }

        .logo{
            width: 13rem;
    
            img {
                width: inherit;
            }
        }

        ul{
            display: flex;
            justify-content: center;
            padding: 0rem 1rem;

            @media (max-width: $breakpoint-mobile) {
                margin: 0.35rem 0rem;
            }
            
            li{
                padding: 0rem 0.5rem;
            }
        }

        .watchlist {
            color:rgb(218, 218, 218);

            &:hover {
                color: white;
            }
        }
    }

    .second-nav-wrapper {
        display: flex;
        align-items: center;

        & > * {
            margin: 0rem 0.5rem;
        }

        .search-bar {
            width: 20vw;
            height: 1.8rem;

            @media (max-width: 1250px) {
                width: 16rem;
            }

            @media (max-width: $breakpoint-mobile) {
                width: 15rem;
            }

            @media (max-width: 400px) {
                width: 12rem;
            }
        }

        .avatar-icon {
            max-width: 30px;
            height: 30px;
        }

        .username {
            @media (max-width: 650px){
                display: none;
            }

            &:hover{
                color: rgb(226, 226, 226);
            }
        }
    }
    
}
