@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif, arial, helvetica;
  box-sizing: border-box;
}

li, a{
  text-decoration:none;
  list-style: none;
  color: inherit; 
}
